@use '../util' as *;

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
}

.account-settings-container {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(500);
    height: rem(610);
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
    border-radius: rem(8);
    z-index: 1000;
}

.account-settings-header-container {
    display: flex;
    border-bottom: rem(1) solid var(--border-1);
    padding: rem(27) rem(24);
    box-sizing: border-box;

    .account-settings-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    
        h2 {
            font-size: rem(20);
            font-weight: 600;
            color: var(--text-6);
            margin: 0;
        }
    
        .x {
            width: rem(11);
            height: rem(11);
            cursor: pointer;
        }
    }
}

.account-info-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: rem(0) rem(24) rem(24) rem(24);

    .profile-photo-container {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: rem(24) rem(0) rem(24) rem(0);
    
        .circle {
            width: rem(64);
            height: rem(64);
            border-radius: 50%;
            background-color: gray;
            margin-right: rem(16);
        }
    
        button {
            all: unset;
            cursor: pointer;
            font-size: rem(14);
            font-weight: 400;
            color: var(--blue-button-1);

            &:hover {
                color: #09328b;
            }
        }
    }
    
    .account-settings-input-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: rem(16);
    
        label {
            font-size: rem(14);
            font-weight: 500;
            color: var(--text-3);
            padding-bottom: rem(4);
        }
    
        input {
            height: rem(40);
            border-radius: rem(8);
            border: rem(1) solid var(--input-box-border-2);
            padding-left: rem(16);
    
            &:hover {
                border: rem(1) solid rgb(155, 155, 155);
                transition: all 0.1s;
            }

            &:focus {
                outline: none;
                border: rem(1) solid rgb(9, 106, 196);
            }
        }
    
        select {
            height: rem(40);
            border-radius: rem(8);
            border: rem(1) solid var(--input-box-border-2);
            padding-left: rem(16);
    
            &:focus {
                outline: none;
            }
        }
    }
}

.submit-account-settings-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    border-top: rem(1) solid var(--border-1);
    border-radius: rem(0) rem(0) rem(8) rem(8);
    height: rem(90);
    background-color: var(--background-color);

    .submit-account-settings {
        display: flex;
        align-items: center;
        gap: rem(12);
        padding: rem(24);

        .cancel-button {
            font-size: rem(16);
            font-weight: 400;
            border: rem(1) solid var(--input-box-border-2);
            height: rem(40);
            width: rem(82);
            border-radius: rem(8);
            background-color: white;
            color: var(--text-3);
            cursor: pointer;

            &:hover {
                background-color: rgb(247, 247, 247);
            }
        }

        .save-changes-button {
            font-size: rem(16);
            font-weight: 400;
            border: rem(1) solid var(--input-box-border-2);
            height: rem(40);
            width: rem(135);
            border-radius: rem(8);
            background-color: var(--blue-button-1);
            color: white;
            cursor: pointer;

            &:hover {
                background-color: var(--blue-button-2);
            }
        }
    }
}