@use '../util'as *;
@use 'sass:list';


// Category Color Map
$category-styles: (
  food: (#1E40AF, #DBEAFE, 45px, 23px),
  entertainment: (#5B21B6, #EDE9FE, 95px, 22px),
  income: (#065F46, #D1FAE5, 60px, 22px),
  health: (#92400E, #FEF3C7, 55px, 22px),
  transport: (#890e92, #fac7fe, 75px, 22px),
  education: (#3c0e92, #c8c7fe, 75px, 22px),
  programming: (#920e0e, #fec7c7, 95px, 22px),
);

.recent-transactions-container {
    display: flex;
    justify-content: center;
    padding-top: rem(32);
}

.recent-transactions-card {
    width: rem(1270);
    height: 100%;
    padding: rem(25);
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: rem(8);

    .recent-transactions-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: rem(20);
            font-weight: 600;
            color: #1F2937;
            margin: rem(0)
        }

        .actions {
            display: flex;
            align-items: center;
            gap: rem(8);

            .add-new-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: rem(115);
                height: rem(36);
                border-radius: rem(8);
                border: none;
                background-color: #4F46E5;
                color: white;
                gap: rem(8);
                cursor: pointer;

                &:hover {
                    background-color: #4239e4;
                }
            }

            .filter-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: rem(90);
                height: rem(36);
                color: #4B5563;
                background-color: #F3F4F6;
                border-radius: rem(8);
                border: none;
                gap: rem(8);
                cursor: pointer;

                &:hover {
                    background-color: #e9e9e9;
                }
            }
        }
    }

    .transactions-table {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .recent-transactions-table-header {
            display: grid;
            grid-template-columns: 5fr 5fr 5fr 5fr 8fr 1fr;
            width: 100%;
            margin-top: rem(24);
            padding-left: rem(24);
            font-size: rem(12);
            color: #6B7280;
            font-weight: 500;
            background-color: #f7f7f7;
        }

        .recent-transactions-row {
            display: grid;
            grid-template-columns: 5fr 5fr 5fr 5fr 8fr 1fr;
            width: 100%;
            padding-left: rem(24);
            border-bottom: rem(1) solid #E5E7EB;
            align-items: center;

            .trash-svg {
                display: none;
                cursor: pointer;
                position: relative;

                .trash-bg {
                    opacity: 0;
                }

                &:hover {
                    path {
                        fill: rgb(231, 38, 38);
                    }

                    .trash-bg {
                        opacity: 1;
                    }
                }
            }

            &:hover .trash-svg {
                display: block;
            }

            .recent-transactions-date {
                font-size: rem(14);
                font-weight: 400;
                color: #6B7280;
            }

            .recent-transactions-description {
                font-size: rem(14);
                font-weight: 400;
                color: #111827;
            }

            .recent-transactions-category {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: rem(12);
                font-weight: rem(400);
                border-radius: rem(50);

                // Dynamic Category Styles
                @each $name, $style in $category-styles {
                    &.#{$name} {
                    color: list.nth($style, 1);
                    background-color: list.nth($style, 2);
                    width: list.nth($style, 3);
                    height: list.nth($style, 4);
                    }
                }
            }

            .negative {
                font-size: rem(14);
                font-weight: 400;
                color: #DC2626;
            }

            .positive {
                font-size: rem(14);
                font-weight: 400;
                color: #059669;
            }

            .recent-transactions-notes {
                font-size: rem(13);
                font-weight: 400;
                color: #111827;
            }
        }
    }

    .view-more-transactions-container {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: rem(36);
            width: rem(205);
            margin-top: rem(24);
            font-size: rem(14);
            font-weight: 400;
            color: #4B5563;
            background-color: #F3F4F6;
            border: none;
            border-radius: rem(8);
            gap: rem(5);
        }
    }
}