@use '../util'as *;
@use 'sass:list';


// Category Color Map
$category-styles: (
  food: (#003366, #D4E4FF, 45px, 23px),
  entertainment: (#A00050, #FAD4E3, 95px, 22px),
  income: (#105C20, #CFF2D3, 60px, 22px),
  health: (#9B2A20, #FFCEC2, 55px, 22px),
  transport: (#333333, #E0E0E0, 75px, 22px),
  education: (#4B0082, #D4C7FF, 75px, 22px),
  programming: (#004B73, #C4F1F9, 95px, 22px),
  clothing: (#6B4E15, #FAF3C8, 65px, 22px),
  investment: (#1A3D5D, #CDE2F0, 78px, 22px),
  gambling: (#006666, #B6E3B6, 70px, 22px),
);

.recent-transactions-container {
    display: flex;
    justify-content: center;
    padding-top: rem(32);
}

.recent-transactions-card {
    width: rem(1270);
    height: 100%;
    padding: rem(25);
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: rem(8);

    .recent-transactions-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: rem(20);
            font-weight: 600;
            color: #1F2937;
            margin: rem(0)
        }

        .actions {
            display: flex;
            align-items: center;
            gap: rem(8);

            .add-new-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: rem(115);
                height: rem(36);
                border-radius: rem(8);
                border: none;
                background-color: #4F46E5;
                color: white;
                gap: rem(8);
                cursor: pointer;

                &:hover {
                    background-color: #4239e4;
                }
            }

            .date-dropdown {
                display: flex;
                position: relative;
                justify-content: space-between;
                align-items: center;
                height: rem(36);
                background-color: #F3F4F6;
                border-radius: rem(8);
                cursor: pointer;

                &:hover {
                    background-color: #ebebeb;
                }
                
                .date-text {
                    font-size: rem(14);
                    color: #374151;
                    padding: rem(0) rem(0) rem(0) rem(16);
                }
    
                .date-arrow-svg {
                    padding: rem(0) rem(16) rem(0) rem(0);
                }

                .date-dropdown-item-container {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: rem(140);
                    height: rem(150);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: white;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    z-index: 100;
                    border-radius: rem(8);
                    overflow-y: scroll;
                    overflow-x: hidden;

                    .date-dropdown-item {
                        position: relative;
                        display: flex;
                        text-align: left;
                        width: 100%;

                        p {
                            display: flex;
                            justify-content: center;
                            font-size: rem(14);
                            color: #374151;
                            padding: rem(7);
                            margin: 0;
                            width: 100%;
    
                            &:hover {
                                background-color: #f7f7f7;
                            }
                        }
    
                        svg {
                            position: absolute;
                            margin-right: auto;
                            top: 50%;
                            transform: translateY(-50%);
                            padding-left: rem(14);
                        }
                    }

                }
                
                .year-dropdown-item-container {
                    width: rem(110);
                }
            }

            .month-dropdown {
                width: rem(140);
            }

            .year-dropdown {
                width: rem(110);
            }  
        }
    }

    .transactions-table {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .recent-transactions-table-header {
            display: grid;
            grid-template-columns: 1fr 7fr 7fr 7fr 7fr 12fr 1fr;
            width: 100%;
            margin-top: rem(24);
            padding-left: rem(24);
            font-size: rem(12);
            color: #6B7280;
            font-weight: 500;
            background-color: #f7f7f7;
        }

        .recent-transactions-row {
            display: grid;
            position: relative;
            grid-template-columns: 1fr 7fr 7fr 7fr 7fr 12fr 1fr;
            width: 100%;
            padding-left: rem(24);
            border-bottom: rem(1) solid #E5E7EB;
            align-items: center;

            .dots-container {
                position: relative;
                display: inline-block;
            

                .dots-svg {
                    cursor: pointer;
                    position: relative;
                    visibility: hidden;

                    .dots-bg {
                        opacity: 0;
                        pointer-events: none;
                        width: rem(24);
                        height: rem(24);
                    }

                    &:hover .dots-bg {
                        opacity: 1;
                    }
                }
            }

            &:hover .dots-svg {
                visibility: visible;
            }

            .transaction-dropdown-container {
                position: absolute;
                background-color: white;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                width: rem(144);
                height: auto;
                z-index: 100;
                border-radius: rem(8);
                overflow: hidden;

                .transaction-dropdown-item {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    padding: rem(7) rem(0) rem(7) rem(16);
                    width: 100%;
                    height: auto;
                    cursor: pointer;

                    &:hover {
                        background-color: #f7f7f7;
                    }

                    svg {
                        padding-right: rem(7);
                    }

                    p {
                        margin: 0;
                        font-size: rem(14);
                        font-weight: 400;
                    }

                    .edit-svg {
                        fill: #374151;
                    }

                    .edit-transaction-button {
                        color: #374151;
                    }

                    .trash-svg {
                        fill: #DC2626;
                    }

                    .delete-transaction-button {
                        color: #DC2626;
                    }
                }

                .edit-transaction-dropdown-item {
                    padding: rem(12) rem(0) rem(6) rem(16);
                }

                .delete-transaction-dropdown-item {
                    padding: rem(6) rem(0) rem(12) rem(16);
                }
            }

            .recent-transactions-date {
                font-size: rem(14);
                font-weight: 400;
                color: #6B7280;
            }

            .recent-transactions-description {
                font-size: rem(14);
                font-weight: 400;
                color: #111827;
            }

            .recent-transactions-category {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: rem(12);
                font-weight: rem(400);
                border-radius: rem(50);

                // Dynamic Category Styles
                @each $name, $style in $category-styles {
                    &.#{$name} {
                    color: list.nth($style, 1);
                    background-color: list.nth($style, 2);
                    width: list.nth($style, 3);
                    height: list.nth($style, 4);
                    }
                }
            }

            .negative {
                font-size: rem(14);
                font-weight: 400;
                color: #DC2626;
            }

            .positive {
                font-size: rem(14);
                font-weight: 400;
                color: #059669;
            }

            .recent-transactions-notes {
                font-size: rem(13);
                font-weight: 400;
                color: #111827;
            }
        }
    }

    .view-more-transactions-container {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: rem(36);
            width: rem(205);
            margin-top: rem(24);
            font-size: rem(14);
            font-weight: 400;
            color: #4B5563;
            background-color: #F3F4F6;
            border: none;
            border-radius: rem(8);
            gap: rem(5);
        }
    }
}