@use '../util' as *;

.signup-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
}

.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: rem(16);
    padding: rem(32);

    h2 {
        font-size: rem(24);
        font-weight: 700;
        color: var(--text-1);
        margin: rem(0);
        padding-bottom: rem(12);
    }

    h3 {
        color: var(--text-2);
        font-size: rem(16);
        font-weight: 400;
        margin: rem(0);
        margin-bottom: rem(32);
    }

    .input-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-bottom: rem(16);

        label {
            font-size: rem(14);
            font-weight: 500;
            color: var(--text-3);
            padding-bottom: rem(4);
        }

        .input-box {
            height: rem(50);
            width: rem(385);
            border: rem(1) solid var(--input-box-border);
            border-radius: rem(8);
            padding-left: rem(16);

            &::placeholder {
                font-size: rem(16);
                font-weight: 400;
                color: var(--text-4);
            }

            &:hover {
                border: rem(1) solid rgb(155, 155, 155);
                transition: all 0.1s;
            }

            &:focus {
                outline: none;
                border: rem(1) solid rgb(9, 106, 196);
            }
        }
    }

    .terms-container {
        font-size: rem(14);
        font-weight: 400;
        color: var(--text-3);
        display: flex;
        justify-content: center;
        padding-top: rem(8);
    }

    button {
        justify-content: center;
        background-color: var(--blue-button-1);
        color: white;
        font-weight: 500;
        width: rem(385);
        height: rem(46);
        border-radius: rem(8);
        border: none;
        margin: rem(24) rem(0);

        &:hover {
            background-color: var(--blue-button-2);
        }
    }

    p {
        font-size: rem(14);
        font-weight: 400;
        color: var(--text-5);
        margin: 0px;
    }

}