
:root {

    // sign up page variables
    --white: white;
    --background-color: #F9FAFB;

    --text-1: #111827;
    --text-2: #6B7280;
    --text-3: #374151;
    --text-4: #ADAEBC;
    --text-5: #4B5563;
    --text-6: #1F2937;

    --border-1: #E5E7EB;

    --blue-button-1: #2563EB;
    --blue-button-2: #1e59d8;
    --light-gray: #DBDFE2;
    --input-box-border-1: #D1D5DB;
    --input-box-border-2: #E5E7EB;

}