@use "../../util" as *;

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
}

.add-expense-container {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(450);
    height: auto;
    padding: rem(24);
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
    border-radius: rem(8);
    z-index: 1000;

    label {
        font-size: rem(14);
        font-weight: 500;
        color: #374151;
        padding-bottom: rem(6);
    }

    input {
        height: rem(40);
        border-radius: rem(8);
        border: rem(1) solid #D1D5DB;
        padding: rem(0) rem(0) rem(0) rem(16);

        &:hover {
            border: rem(1) solid rgb(155, 155, 155);
            transition: all 0.1s;
        }

        &:focus {
            outline: none;
            border: rem(1) solid rgb(9, 106, 196);
        }
    }
}

.add-expense-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: rem(24);

    h2 {
        font-size: rem(20);
        font-weight: 600;
        color: #111827;
        margin: 0;
    }

    svg {
        width: rem(11);
        height: rem(11);
        cursor: pointer;
    }
}

.add-expense-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: rem(16);
}

.add-expense-amount-date-container {
    display: flex;
    justify-content: center;
    padding-bottom: rem(16);
    gap: rem(16);

    .add-expense-amount-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        #expense-amount-label {
            display: flex;
            justify-content: start;
        }

        .amount-input-wrapper {
            display: flex;
            position: relative;
            align-items: center;

            .currency-symbol {
                position: absolute;
                padding-left: rem(12);
                color: #6B7280;
            }

            #expense-amount {
                padding-left: rem(30);
            }
        }
    }

    .add-expense-date-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        #expense-date {
            padding-right: rem(16);
        }
    }
}

.add-expense-category-container {
    display: flex;
    flex-direction: column;
    padding-bottom: rem(16);

    select {
        height: rem(40);
        border-radius: rem(8);
        border: rem(1) solid #D1D5DB;
        padding: rem(0) rem(0) rem(0) rem(10);
        font-size: rem(16);
        font-weight: 400;
        color: #1f2937;

        &:hover {
            border: rem(1) solid rgb(155, 155, 155);
            transition: all 0.1s;
        }

        &:focus {
            outline: none;
            border: rem(1) solid rgb(9, 106, 196);
        }
    }
}

.add-expense-notes-container {
    display: flex;
    flex-direction: column;
    padding-bottom: rem(24);

    #notes-input {
        height: rem(90);
        padding: rem(12) rem(16) rem(12) rem(16);
        border: rem(1) solid #D1D5DB;
        border-radius: rem(8);
        overflow-y: auto;
        resize: none;

        &:hover {
            border: rem(1) solid rgb(155, 155, 155);
            transition: all 0.1s;
        }

        &:focus {
            outline: none;
            border: rem(1) solid rgb(9, 106, 196);
        }
    }
}


.add-expense-buttons-container {
    display: flex;
    justify-content: end;
    gap: rem(12);

    #cancel-transaction-button {
        width: rem(75);
        height: rem(36);
        border-radius: rem(8);
        border: none;
        font-size: rem(14);
        color: #2a313a;
        background-color: #e7e7e7;
        cursor: pointer;

        &:hover {
            background-color: #e0e0e0;
        }
    }

    #add-transaction-button {
        width: rem(135);
        height: rem(36);
        border-radius: rem(8);
        border: none;
        font-size: rem(14);
        color: white;
        background-color: #4F46E5;
        cursor: pointer;

        &:hover {
            background-color: #4239e4;
        }
    }
}