
.signup-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}